@model List<ShoppingWebsite.Models.Product>

@{
    ViewBag.Title = "Check Cart";
}
<div class="container" style="min-height:550px ;">
    <center>
        @{
            if(Model != null)
            { 
                foreach (var product in Model)
                {
                    <div class="row">
                        <img width="200px" height="200px" src="~/Files/@product.Picture" />
                        <h4>Product Name: @product.Name</h4>
                        <h4>Price: $@product.Price</h4>
                    </div>
                }
            }
            else
            {
                <div class="row">
                    <h4>You have no items in your cart</h4>
                </div> 
            }
        }
    </center>

</div>


   

   
